apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-different
  namespace: diff
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
      tolerations:
      - effect: NoSchedule
        key: kubernetes.io/arch
        operator: Exists
